<script>
function buttonClicked(event, closeDialog) {
  if (event.action === "kadi.coupa-credentials.submit") {
    // handle the action here
    //Possibly ignore JS entirely? Dont include a Primary action, and then include submit form in the ruby?
    //Issue then is closing the dialog perhaps.
  }
  closeDialog(true); // you can also pass false if you want to prevent the dialog from closing (missing required fields, for instance)
}
AP.register({
  "dialog-button-click": buttonClicked
});
</script>
<body>
Please Populate your Instance and API Key below:
<%= form_for((@user.nil? ? :user : @user)) do |f| %>
  <% @user = User.new unless !@user.nil? %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :instance%><br>
    <%= f.text_field :instance %>
  </div>
    <div class="field">
    <%= f.label :coupa_api_key %><br>
    <%= f.text_field :coupa_api_key %>
  </div>

<% end %>
</body>

